/* Adding smooth scroll behavior */
html {
    scroll-behavior: smooth;
    font-size: 62.5%; /* This makes 1rem equal to 10px */
  }
  
  /* Setting custom properties for colors and fonts */
  :root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
  
    --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
    --font-size-small: 1.2rem; /* Small font size */
    --font-size-medium: 1.6rem; /* Medium default font size */
    --font-size-large: 1.8rem; /* Large font size */
    --font-size-x-large: 2.3rem; /* Extra large font size */
    --font-size-xx-large: 4.8rem; /* Extra extra large font size */
  
    --font-weight-regular: 400;
    --font-weight-bold: 700;
  }
  
  /* Setting default font family, color, and weight for body */
  body {
    font-family: var(--font-family-base);
    color: var(--text-color);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular); /* Regular font weight */
  }
  
  /* Setting default font family and boldness for headings */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold); /* Bold font weight */
  }
  
  /* Styling for anchor elements */
  a {
    color: var(--text-color); /* Using the custom property for text color */
  }
  
  /* Visually hidden class for accessibility */
  .visually-hidden {
    display: none;
  }
  
  /* Card category styling */
  .card-category {
    color: var(--color-primary);
  }
  
  /* Section tagline styling */
  .section-tagline {
    color: var(--color-primary);
  }
  